@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poke-open-card{
    background-color: #74CB48;
    height:100vh;
    width:100vw;
    position: relative;
    z-index: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.header-open-card{
    display: flex;
    padding: 20px 20px 24px 20px;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.header{
    color: white;
}

.id{
    color:white;
}


.background-logo img{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
}

.poke-image-open-card{
    display: flex;
    justify-content: center;
}

.poke-image-open-card img{
    width: 200px;
    height: 200px;
}

.poke-stats{
    width: 98%;
    background-color: white;
    height: 60%;
    padding: 20px 20px 20px 20px;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;
    margin-top: -6%;
}

.arrows{
    position: absolute;

}

.left{
    position: absolute;
    left: 20px;
    top: 30%;
}
.right{
    position: absolute;
    right: 20px;
    top: 30%;
}

.poke-type{
    display: flex;
    justify-content: center;
}

.poke-type button{
    background-color: #74CB48;
    padding: 2px 8px;
    border-radius: 10px;
    border: none;
    color: white;
}

.about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    position: relative;
}

.about h2{
    text-align: center;
    margin-top: 16px;
}

.divider{
    position: absolute;
    left: 50%;
    top: 0;
}



.weight-subcontainer,.height-subcontainer{
    display: flex;
}